*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.background {
    background-image: url('/img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 50%;
    height: 100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
  }
  
  .luci {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 30%;
  left:10%;
  z-index: 10;   
  }