* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
  }
  
.game-container {
    width: 500px;
    height: 700px;
    position: absolute;
    left: 480px;
    top: 45px;
}

.left-border {
    width: 80px;
    height: 775px;
    background-color: white;
    position: absolute;
    left: 480px;
    z-index: 3;
}

.right-border {
    width: 80px;
    height: 775px;
    background-color: white;
    position: absolute;
    left: 1200px;
    z-index: 2;
}

.top-border {
    width: 700px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: -80px;
    z-index: 2;
}

.sky {
    background-image: url(/img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url(/img/lava-halftone-modern-design-backdrop-hot-red-vector-37195181.jpg);
    width: 700px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 2;
}

.bird {
    background-image: url(/img/luci.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;

}

.obstacle {
    background-image: url(/img/tube_red2-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 300px;
    position: absolute;
}

.top-obstacle {
    background-image: url(/img/tube_red2-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: 80px;
    height: 300px;
    position: absolute;
}