* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 700px;
    position: absolute;
    left:60px;
    top: 45px;
}

.left-border{
    width: 60px;
    height: 775px;
    background-color: green;
    z-index: 2;
}
.sky {
    background-image: url(/img/mountain.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: 700px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    width: 700px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 2;
}

.bird {
    background-image: url(/img/luci.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;

}

.obstacle {
    background-image: url(/img/tube_red2-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 300px;
    position: absolute;
}

.top-obstacle {
    background-image: url(/img/tube_red2-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: 80px;
    height: 300px;
    position: absolute;
}